<footer>
	<div class="footer">
		<div class="container" id="footer">
			<div class="row">
	    	<div class="col-lg-3 col-sm-6">
	    		<div class="col-inner">
	    			<h6><%= t ".purchase" %></h6>
			    	<ul>
			    		<li><%= t ".text_footer" %></li>
			    		<li><%= t ".text_footer1" %></li>
			    		<li><%= t ".text_footer2" %></li>
			    		<li><%= t ".text_footer3" %></li>
		    		</ul>
	    		</div>
	    	</div>
	    	<div class="col-lg-3 col-sm-6">
	    		<div class="col-inner">
	    			<h6><%= t ".promotion" %></h6>
		    		<ul>
		    			<li>Hot Deal</li>
		    			<li>Voucher</li>
		    			<li>Discount</li>
		    		</ul>
	    		</div>
	    	</div>
	    	<div class="col-lg-3 col-sm-6">
	    		<div class="col-inner">
	    			<h6><%= t ".text_footer4" %></h6>
		    		<ul>
		    			<li><%= t ".text_footer5" %></li>
		    			<li><%= t ".text_footer6" %></li>
		    			<li><%= t ".text_footer7" %></li>
		    		</ul>
	    		</div>
	    	</div>
	    	<div class="col-lg-3 col-sm-6">
	    		<div class="col-inner">
	    			<h6><%= t ".text_footer8" %></h6>
		    		<ul>
		    			<li>Facebook</li>
		    			<li><%= t ".telephone" %></li>
		    			<li><%= t ".address" %></li>
		    		</ul>
	    		</div>
	    	</div>
	    </div>
    </div>
	</div>
</footer>
